<p id="notice"><%= notice %></p>

<%= image_tag @image.avatar.url(:medium) %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %> |
<%= link_to 'Users', users_path %>
